        body {
            background-color: #481D24;
            margin: 0;
            padding: 0;
            font-family: 'Rubik', sans-serif;
        }

        header {
            background-color: #009FB7;
            padding: 10px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .Contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 50px;
        }

        #ContactText {
            color: #C69C72;
            font-size: 5vw;
            margin-bottom: 20px;
        }

        #InputField {
            width: 100%;
            height: 200px;
            border: none;
            border-radius: 20px;
            background-color: #C5283D;
            font-size: 1em;
            padding: 20px;
            margin-bottom: 20px;
            outline: none;
            color: #222;
        }

        #SendMessage, #MessageSent, #MessageFailed {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 1s;
        }

        #SendMessage {
            background-color: #009FB7;
            color: #023C40;
            margin-bottom: 20px;
        }

        #SendMessage:hover {
            background-color: #A8B5D2;
        }

        #MessageSent {
            background-color: #72C675;
            opacity: 0;
            color: #fff;
            transition: opacity 2s;
        }

        #MessageFailed {
            background-color: #C67272;
            opacity: 0;
            color: #fff;
            transition: opacity 2s;
        }

        footer {
            background-color: #009FB7;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
